.offlajntextareacontainer{
  float: left;
  margin-right: 4px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  padding: 0 2px;
  box-shadow:inset 1px 1px 2px #ccc;
  background: -moz-linear-gradient(top, #fff 0%, #e9e9e9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%,#e9e9e9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%,#e9e9e9 100%); /* IE10+ */
  background: linear-gradient(top, #fff 0%,#e9e9e9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
}

.offlajntextareacontainer .offlajntextarea{
  line-height: 16px;
  color: #575656;
  font-size: 12px;
  font-family: 'PT Sans';
  border: 0;
  background: none;
  padding: 0;
  float: left;
  margin: 0;
}